body{

	background: #333333;
	color: #666;
	text-decoration: none;
	margin: 0;
	padding:0;
	width: 100%;
}

body a:hover{
	text-decoration: none;
	color: #dcdcdc;
}

 a{
	text-decoration: none;
	color: #00FFFF !important;
	opacity: .9;
}

th{
	padding-right: 17px;
	font-size: 15px;
}

.dropdown_active
{
	display: none;
}

.well{
	background: #f5f5f5;
}
.table_title{
	background: grey;
	color: #000;
	padding: 5px;
	padding-left: 10px;
}

.table_content{
	background: #c0c0c0;
	color: #000;
	padding: 3px;
	padding-left: 10px;
}

.padding{
	padding-left: 10px;
}

.btn-primary{
	margin: 10px;
}

.titles{
	font-size: 20px;
}

.col-md-12{
	margin-top: 10%;
}


.navbar{
	background: #000000 !important;
	min-height: 33px;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar a:hover{
color: grey !important;
}


.navbar-nav > li > a{
	padding-top: 6px;
	padding-bottom: 0 !important;
	height: 33px;
}


.user_image{
	width: 50px;
	border-radius: 100%;
	margin-bottom: 2%;
}

.user_large_image{
	width: 250px;
	border-radius: 1%;
	border: 2px solid #ffffff;
	text-align: center;
}



.login_header{
	width: 50%;
	margin: 50px auto 0px;
	text-align: center;
	border: 1px solid #b0c4de;
	background: #000;
	color: #00FFFF;
	opacity: .85;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;  


}

.login_form{
	width: 50%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b0c4de;
	background: #f5f5f5;
	border-radius: 0px 0px 10px 10px;  
}

.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label{
	margin: 3px;
	display: block;
	text-align: left;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray; 
}



.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px solid #a94442;;
	text-align: center;
}

.success{
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}


.login_btn{
	width: 50%;
	padding: 10px;
	font-size: 15px;
	color: #00FFFF;
	background: #4682b4 !important;
	border: none;
	border-radius: 5px; 
}

.login_btn:hover{
	background: #4682b4 !important;
	opacity:.9;
	cursor: pointer;
}

.list-group-item{
	background: #2C3E50 !important;
	border-color: #000 !important;
	color: #ffffff !important;
	opacity: .9;
}

.list-group-item:hover{
	color: #dcdcdc !important;
	opacity: .9;
}

.list-group-item .glyphicon:hover{
	color: #dcdcdc !important;
	opacity: .9;
}

.myLink{
	color: #fff !important;
}

.myLink:hover{
	color: #dcdcdc !important;
	opacity: .9;
}


.add_item{
	background: #808080 !important;
}

#header{
	background: #000000;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#header .create{
	padding-top: 20px;
}

.breadcrumb{
	background: #000000;
	color: #00FFFF;
}

.breadcrumb a{
	color: #333333;
}

.progress-bar{
	background: #333333;
	color: #ffffff;
}

.dash-box{
	text-align: center;
}

#login{
	margin-top: 30px;
}

.footer{
	background: #000000 !important;
	color: #ffffff;
	text-align: center;
	padding: 30px;
	margin-top: 30px;
	height: 200px;
}

.user_name .glyphicon-user{
	color: #1E90FF;
	font-size: 30px;
}


.glyphicon-remove-circle{
	color: red;
	font-size: 16px;
}

.glyphicon-remove-circle:hover{
	color: brown;
	font-size: 16px;
}


.text-center{
	color: #00FFFF !important;
}

.post-info{
	background: #000;
	color: #00FFFF;
	opacity: .85;
	height: 30px;
	font-size: 20px;
}


@media(min-width: 992px){


	iframe{
	width: 850px;
	height: 700px;
	margin: 0;
}

}

@media(max-width: 991px){

	iframe{
	width: 800px;
	height: 700px;
	margin: 0;
}

}

@media(max-width: 1200px){
	iframe{
	width: 1100px;
	height: 900px;
	margin: 0;
}
}


@media(max-width: 600px){
	iframe{
	width: 450px;
	height: 600px;
	margin: 0;
}


body{
	font-size: 15px;
}

.well h4{
	font-size: 15px;

}

.titles{
	font-size: 15px;
}

.edit_feed{
	font-size: 10px;
}

.progress-bar{
	font-size: 15px;

}

.dash-box h2{
	font-size: 15px;

}

.login_header{
	width: 80%;
	margin: 50px auto 0px;
	color: white;
	text-align: center;
	border: 1px solid #b0c4de;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px; 
}

.login_form{
	width: 80%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b0c4de;
	border-radius: 0px 0px 10px 10px;  
}

th{
	padding-right: .5px;
	font-size: 12px;
}

.edit_btn{
	font-size: 7px;
	color: #000;
}


}
